html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Sen', sans-serif; 
    
}

img {
    max-width: 100%;
}
/* global */
.flex {
    display: flex;
}
.list_reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.btn_reset {
    border: none;
    margin: 0;
    padding: 0;
}
.reset {
    margin: 0;
    padding: 0; 
}
.decoration_reset {
    text-decoration: none;
}
.btn_yellow {
    background: #FFD050;
    cursor: pointer;
    padding: 16px 48px;
}
.btn_yellow:hover {
    background: #edaf07;
}

.autor {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.autor_link:hover {
    text-decoration: underline;
}
/* header */

.header{
    height: 80px;
    background-color: #232536;
    position: relative;
}
.header_container {
    align-items: center;
}
.header_logo {
    margin-right: auto;
}

.nav_items-link{
    color: #fff;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.nav_items-link:hover{
    color: #FFD050;
}
.nav_items:not(:last-child) {
    padding-right: 24px;
}
.header_button {
    background: #FFF;
    padding: 16px 48px;
    margin-left: 32px;
    cursor: pointer;
    color: #232536;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}
.header_button:hover {
    background: #f5eeda;
}
/* Home */
.home {
    background: url(./img/home_back.jpg) center no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.home_container {
    height: 720px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.home_content {
    width: 50%;
    /* padding-left: 80px; */
}
.home_uptitle {
    color: #FFF;
    padding-bottom: 24px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.home_uptitle b { 
    font-weight: 900;
    font-style: bold;
}
.home_title {
    color: #FFF;
    padding-bottom: 24px;
    font-family: Sen;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -2px;
    
}
.home_autor {
    color: #FFF;
    padding-bottom: 16px;
}
.home_autor-nameAutor {
    color: #FFD050;
    text-decoration: none;
}
.home_autor-nameAutor:hover {
    text-decoration: underline;
}

.home_subtitle {
    color: #FFF;
    padding-bottom: 48px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.home_button {
    background: #FFD050;
}
/* post */
/* featured content */
.post {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 160px;
}
.post_content-title {
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.post_content-featured {
    border: 1px solid #E0E0E0;
    padding: 32px;
}
.post_autor {
    padding: 32px 0 0 0;
}
.post_autor-nameAutor {
    color: #592EA9;
    text-decoration: none;
}
.post_content-featured-title {
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}
.post_content-featured-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;
    padding-bottom: 32px;
}
/* all content */
.post_content-right {
    padding-left: 30px;
}
.post_content-text {
    align-items: center;
    justify-content: space-between;
}
.post_content-all-content {

    height: 180px;
    /* width: 510px; */
    padding: 13px 0 0 40px;
}
.post_content-all-content:hover {
   background-color: #FBF6EA;
}
.post_content-all-title {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 80%;
}
.post_content-src {
    color: #592EA9;
    text-decoration: none;
}
.post_content-all-content-link {
    color: black;
    text-decoration: none;
}

/* About Us */
.aboutUs {
    margin-left: 165px;
}
.aboutUs_container {
    flex-direction: column;
    align-items: end;
}
.aboutUs_colorLine-white {
    background-color: #FFF;
    height: 25px;
}
.aboutUs_colorLine-yellow {
    background-color: #FFD050;
    height: 25px;
    width: 780px;
}
.aboutUs_colorLine-purple {
    background-color: #592EA9;
    height: 25px;
    width: 280px;
}
.aboutUs_content {
    background-color: #F4F0F8;
    padding: 70px 0 70px 80px;
}
.aboutUs_left {
    margin-right: 90px;
}
/* .aboutUs_right {

} */

.aboutUs_uptitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.aboutUs_left-title {
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
  
}
.aboutUs_suptitle {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-bottom: 16px;
}
.aboutUs_left-link {
    color: #592EA9;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}
.aboutUs_left-link:hover {
    text-decoration: underline;
}
.aboutUs_right-title {
    width: 60%;
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -1px;
}
.aboutUs_right-subtitle {
    width: 80%;
}

/* choose */
.choose {
    margin-top: 100px;
    margin-bottom: 130px;
}
.choose_container {
    /* width: 1440px; */
    flex-direction: column;
}
.choose_title {
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
    justify-content: center;
}
.choose_content-item-src:not(:last-child) {
    padding-right: 32px;
}
.choose_content-img {
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FBF6EA;
    border-radius: 10px;
}
.choose_content-item {
    border: 1px solid #E0E0E0;
    padding: 32px;
    max-width: 290px;
    max-height: 230px;
}
.choose_content-item:hover {
    background-color: #FFD050;
}
.choose_content-title {
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -1px;
}
.choose_content-subtitle {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.choose_content-item-src {
    text-decoration: none;
    color: black;
}
/* started */
.started {
    margin-top: 130px;
    margin-bottom: 130px;
}
.started_container {
    background: url(./img/startup_back.jpg) no-repeat;
    height: 705px;
    align-items: end;
    justify-content: end;
}
.started_content {
    background-color: #FFF;
    padding: 60px;
    width: 45%;
}
.started_content-uptitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.started_content-title {
    font-family: Sen;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
}

.started_content-subtitle {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-bottom: 32px;
}

/* autors */
.autors {
    margin-bottom: 150px;
}
.autors_container {
    flex-direction: column;
}
.autors_title {
    margin: 0 auto;
    padding-bottom: 50px;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.autors_content {
    justify-content: space-between;   
}
.autors_content-item {
    background-color: #F4F4F4;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    width: 260px;
}
.autors_content-item:hover {
    background-color: #FBF6EA;
}
.autors_content-title {
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -1px;
}
.autors_content-subtitle {
    color: #6D6E76;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    padding-bottom: 20px;
}
.company_link {
    text-decoration: none;
}
.company_link:hover {
    text-decoration: underline;
}
.autors_content-media:not(:last-child) {
    padding-right: 16px;
}
.autors_content-media:hover {
    transform: scale(1.2);
    transition: 0.2;
}
.autor_footer-uptitle {
    color: #6D6E76;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.autor_footer-title {
    color: #6D6E76;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.autor_footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

/* Testi */
.testi {
    box-sizing: content-box;
}
.testi_container {
    background-color: #FBF6EA;
    padding: 90px;
}
.testi_left {
    padding-right: 90px;
}
.testi_left-uptitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.testi_left-title {
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
    letter-spacing: -2px;
}
.testi_left-subtitle {

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.testi_border {
    border: solid 1px #6D6E76;
    opacity: 0.4;
}
.testi_right {
    padding-left: 90px;
    flex-direction: column;
    justify-content: space-between;
    
}
.testi_right-title {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    width: 60%;
}
.testi_right-autor {
    padding-left: 5px;
    padding-right: 130px;
}
.testi_right-name {
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.testi_right-city {
    color:  #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.arrow-left {
    background-color: #FFF;
    background-image: url(/img/Arrow\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 10px;
    margin-right: 30px;

}
.arrow-right {
    background-color: #FFF;
    background-image: url(/img/Arrow\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(-1);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 10px;
}
.arrow-left:hover {
    background-color: #000000;
    background-image: url(/img/Arrow\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(-1);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 10px;
}
.arrow-right:hover {
    background-color: #000000;
    background-image: url(/img/Arrow\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 10px;
}